extends imagitas_layout



block content
	img.fullscreen(src="http://cdn.home-designing.com/wp-content/uploads/2012/10/1-Compact-studio-apartment.jpeg")
	.container
		.header
			ul.nav.nav-pills.pull-right
				li
					a(href="/movers/gifts") Rewards
				li
					a(href="/moving.html") Deals
				li.active
					a(href="/movers/about") About
			h3.text-muted MoversSavings

		.jumbotron(style="background-color:rgba(0,0,0,0.6); color:white")
			.row.marketing
				p(style="font-size:17px") It’s been said that moving can feel like an emotional roller-coaster: You're leaving behind familiar surroundings, comforts, friends, neighbors and embarking on a new phase in life. 
				p(style="font-size:17px") That is where MoverSavings come in. We are focused on giving you a stress-free moving experience. Currently, we are offering ways to save money and will be releasing new programs in the future. If you would be like to notified about these new opportunities, please leave your email address below. Thank you for visiting us. 
				.input-group
					input#leadEmail.form-control(type="text",placeholder="enter your email")
					span.input-group-btn
						button.btn.btn-success(type="button",onclick="submit()") Notify me

	script(type='text/javascript').

			function submit(){
				if($("#leadEmail").val()=="")
					alert("please enter your email");
				else{	
				var LeadEmail = Parse.Object.extend("LeadEmail");
				var leadEmail = new LeadEmail();
				leadEmail.save({email: $("#leadEmail").val()}).then(function(object) {
				alert("Thanks for your interest!");
				});
			}
			}



		




















