extends imagitas_layout

block content
	.container
		.row.col-md-8.col-md-offset-2
			h2.page-header How do you discover a new place by smartphone?

			h4 What tasks were you trying to accomplish?
			.addPanel.highlight
				img.addButton(src="../images/research/add.png", onclick="openTaskDialog()")
				.dialog#taskDialog
					.dialog-header Add an task
					.dialog-body 
						select.dropdownlist(onchange="getSelectVal(this)")
							option(value="shop") Find place for shop
							option(value="food") Find place for food
							option(value="fun") Find place for fun
							option(value="other") Other task
					.dialog-footer
						button.btn.btn-default.btn-sm(onclick="closeDialog()") Close
						button.btn.btn-default.btn-sm.btn-primary(onclick="addTask()") Add
						span.s Task already added, please pick another one
						span.s#blankAlert Please enter a name 

				.dialog#appDialog.col-md-5(data-spy="affix",data-offset-top="400", data-offset-bottom="200")
					.dialog-header Add an application
					.dialog-body 
						select.dropdownlist(onchange="getSelectApp(this)")
							option(value="shop") Maps
							option(value="food") Browser
							option(value="fun") Yelp
							option(value="other") Your other faverite application
					.dialog-footer
						button.btn.btn-default.btn-sm(onclick="closeDialog()") Close
						button.btn.btn-default.btn-sm.btn-primary(onclick="addApp(this)") Add
						span.s#duplicatedAlert Application already added, please pick another one
						span.s#blankAlert Please enter a name 
			#meat




	script(type='text/javascript').
		var addedTask = [];
		var addedApp = [];

		function getSelectVal(sel){
			$(".s").hide();
			if($(sel).children("option").filter(":selected").text()=="Other task")
			{
				$("#taskDialog .dialog-body").append('<input id="inputTask" type="text" class="form-control taskinput" placeholder="name your task">');
			}
			else{
				$("#inputTask").remove();
			}
		}

		function getSelectApp(sel){
			$(".s").hide();
			if($(sel).children("option").filter(":selected").text()=="Your other faverite application")
			{
				$("#appDialog .dialog-body").append('<input id="inputApp" type="text" class="form-control taskinput" placeholder="Enter the name of the application">');
			}
			else{
				$("#inputApp").remove();
			}
		}

		function openTaskDialog(){
			$("#taskDialog").show();
			$("#taskDialog").dimBackground();
		}

		function openAppDialog(imgBtn){
			$("#appDialog").attr('divID',$(imgBtn).parent().parent().attr('id'));
			$("#appDialog").show();
			$("#appDialog").dimBackground();
		}

		function closeDialog(){
			$(".dialog").undim();
			$(".dialog").hide();
			$(".s").hide();


		}

		function addTask(){
			
			var taskTtile = $("#taskDialog .dialog-body select").children("option").filter(":selected").text();
			if(taskTtile=="Other task"){
				taskTtile = $("#inputTask").val();
			}
			if(taskTtile ==""){
				$("#blankAlert").show();
				return
			}
			//check duplicated
			if(addedTask.indexOf(taskTtile)==-1){
				addedTask.push(taskTtile);
				var divID = taskTtile.replace(/\s+/g, '');
				$("#meat").prepend('<div id="'+divID+'" class="panel panel-default"><div class="panel-heading">What applications were you using for <span class="taskTitle">'+taskTtile+'</spam>?</div><div class="panel-body"><img class="addButton" onclick="openAppDialog(this)" src="../images/research/add.png"/></div></div>');
				$("#taskDialog").undim();
				$("#taskDialog").hide();
			}else{
				$(".s").show();
			}
		}

		function addApp(btn){
			var appTtile = $("#appDialog .dialog-body select").children("option").filter(":selected").text();
			if(appTtile=="Your other faverite application"){
				appTtile = $("#inputApp").val();
			}
			if(appTtile ==""){
				$("#blankAlert").show();
				return
			}

			//check duplicated
			if(addedApp.indexOf(appTtile)==-1){
				addedApp.push(appTtile);
				$("#"+$(btn).parent().parent().attr("divID")).append('<div class="highlight appPanel"><div class="panel-body row"><div class="col-md-2"><img class="addButton center-block"  src="../images/research/appicon.png"/><h6 class="text-center">'+appTtile+'</h6></div><div class="col-md-9"><div class="input-group"><span class="input-group-addon">Key Features</span><input type="text" class="form-control" placeholder="What are the key features helped you?"></div><br><div class="input-group"><span class="input-group-addon"> Litmitations </span><input type="text" class="form-control" placeholder="What things are missing?"></div></div></div></div>');
				$("#appDialog").undim();
				$("#appDialog").hide();
			}else{
				$("#duplicatedAlert").show();
			}
		}

