doctype html
html
	head
		title #{title} - Pitney Bowes Research
		link(rel='stylesheet', href='/stylesheets/style_research.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		script(type="text/javascript" src="http://andywer.github.io/jquery-dim-background/jquery.dim-background.min.js")

		meta(property="og:title" content="Research: Discovering new places")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.pbsmartlab.com/research/discover")
		meta(property="og:image" content="http://www.guelphchamber.com/images/Explore-Tab.jpg")
		meta(property="og:description" content="Have your used your smartphone in the last two months to explore or discover a place you were not familiar with?")
	
		script(src="//www.parsecdn.com/js/parse-1.2.18.min.js")
		script(type="text/javascript" src="https://assets.yammer.com/assets/platform_embed.js")

	body
		block content

		

		script(type='text/javascript').
			$(document).ready(function () {
				
			});


