extends layout



block MapDemo
	.container
		.jumbotron
			h1 Geocode Benchmark
			p We provide side by side comparison to several major geocoding providers in the market....

		.row
			.col-lg-4
				h2 GeoCoding
				p To geocode a single address in real time
				p .....
				P
					a.btn.btn-primary View Detail

			.col-lg-4
				h2 Reverse GeoCoding
				p To reverse geocode a single address in real time
				p .....
				P
					a.btn.btn-primary View Detail

			.col-lg-4
				h2 Batch
				p To geocode multiple addresses in a batch
				p .....
				P
					a.btn.btn-primary View Detail