doctype html
html
	head
		title #{title} - My Site
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		block leaflet
		meta(property="og:title" content="Cool Things in SXSW 2014")
		meta(property="og:type" content="website")
		meta(property="og:url" content="http://www.pbsmartlab.com/sxsw2014")
		meta(property="og:image" content="http://www.studentsoftheworld.org/wp-content/uploads/2014/01/SXSW.jpg")
		meta(property="og:description" content="It’s not just about apps, websites, and new products here. You got people coming from all seemingly disparate industries to talk about technology here. SXSW is the place where ideas and technology are being showcased, discussed and awarded, as well as convergence and connections being encouraged and established.")
	body

		.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") Merchant Awareness

				.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/") Doc
						li
							a(href="web") Web Demo
						li
							a(href="mobile") Mobile Demo
						li
							a(href="#") Feedback

		.container-fluid
			.row.row-offcanvas.row-offcanvas-left
				.col-sm-3.col-md-2.sidebar
					ul.nav.nav-sidebar#setlocation
						li
							block sidebar-item1
						li
							block sidebar-item2
						li
							block sidebar-item3
						li
							block sidebar-item4

				.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
					block MapDemo

		script(type='text/javascript').
			$(document).ready(function () {
				$("ul#setlocation>li").on("click", "a", function (event) {
					$("#setlocation .active").removeClass("active");
					$(this).parent().addClass("active");
				});

				var url = window.location;
				// Will only work if string in href matches with location
				$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

				// Will also work for relative and absolute hrefs
				$('ul.nav a').filter(function() {
					return this.href == url;
				}).parent().addClass('active');

				//- $('[data-toggle=offcanvas]').click(function() {
				//- 	$('.row-offcanvas').toggleClass('active');
				//- });
			});


