extends imagitas_layout

block content
	.container
		.header
			ul.nav.nav-pills.pull-right
				li.active
					a(href="/movers/gifts") Rewards
				li
					a(href="/moving.html") Deals
				li
					a(href="/movers/about") About
			h3.text-muted MoversSavings


		.jumbotron(style="padding-top:5px;padding-bottom:10px")
			h2 Take pictures of your coupons and we will send you a gift card
			p Show us how you save money - get a gift card to save even more!
			

		.row.bs-docs-section
			.col-lg-6
				.options#option1(onclick="pickOption(this)", choice = "1")
					h2 Send us 1 picture, get $1 
					p Every picture that you submit will earn you $1. You can earn up to <b>$5</b>.
					.picked
						img(src="/images/research/check.png")
			.col-lg-6
				.options(onclick="pickOption(this)",choice = "2")
					h2 Send us 1 picture a day, get $10
					p Send us one picture <b style="color:red">a</b> day. Send us 5 pictures in total to receive $10.
					.picked
						img(src="/images/research/check.png")

		.row

			.input-group
				input.form-control#giftemail(type="email",placeholder="enter your email to participate")
				span.input-group-btn
					button.btn.btn-success(type="button", onclick="submitForGift()") Sign me up

		br 
		br
		br
		
		p <b style="font-size:20px">Here's how<b>	
		ol.circles-list(style="font-size:18px")
				li Take a picture of the coupon and product you are buying (see our example below)
				li Send the picture to <b>movers.savings@gmail.com</b>
				li Get a gift card to help you save even more!
		
		.row.text-center
			img(src="/images/research/sample.jpeg")

		p <span style="font-size:15px">* First 20 people get the rewards, hurry up!</span>

		

	script(type='text/javascript').
			var choice = "-1";

			function pickOption(d){
				choice = $(d).attr("choice");
				$(".picked").css("background-color","#e1e1e8");
				$(d).find(".picked").css("background-color","green");
			}

			function submitForGift(){
				if(choice != "-1"){
				if($("#giftemail").val()=="")
					alert("please enter your email");
				else{	
				var GiftEmail = Parse.Object.extend("GiftEmail");
				var giftEmail = new GiftEmail();
				giftEmail.save({email: $("#giftemail").val(),choice:choice}).then(function(object) {
				alert("Thanks for participating! You will get an email confirmation soon.");
				});
			}}
			else
				alert("Please select a reward option")
			}





















