extends imagitas_layout

block content
	.container
		
		.header
			ul.nav.nav-pills.pull-right
				li
					a(href="/movers/gifts") Rewards
				li
					a(href="/moving.html") Deals
			img(src="http://www.mymove.com/content/dam/mymove/Logos/logo-mymove.png")
			br
			br
			

		.jumbotron(style="padding-top:5px;padding-bottom:10px")
			h2 Take pictures of your coupons and we will send you a gift card
			p Earn valuable gift cards in a few easy steps! Act now, available only to the first 20 respondents.
			
		h4.steps 1. Choose how you want to get your reward.
		.row
			.col-lg-6
				.options#option1(onclick="pickOption(this)", choice = "1")
					h2 Send us 1 picture, get $1 
					p Every picture that you submit will earn you $1. You can earn up to <b>$5</b>.
					.picked
						img(src="/images/research/check.png")
			.col-lg-6
				.options(onclick="pickOption(this)",choice = "2")
					h2 Send us 1 picture a day, get $10
					p Send us one picture <b style="color:red">a</b> day. Send us 5 pictures in total to receive $10.
					.picked
						img(src="/images/research/check.png")
		br

		h4.steps 2. Sign up with your email address.
		.row.col-lg-6

			.input-group
				input.form-control#giftemail(type="email",placeholder="youremail@mail.com")
				span.input-group-btn
					button.btn.btn-success(type="button", onclick="submitForGift()") Sign me up

		br 
		br
		br
		
		h4.steps 3. Take pictures of the coupon.
		.row
			img.img-responsive(src="/images/research/sample.jpeg",style="padding-left:30px" )

		br 
		br

		h4.steps 4. Email your coupon photos to movers.savings@gmail.com. It's that simple! 
		br
		br
		p <span style="font-size:15px">* First 20 people get the rewards, hurry up!</span>

		

	script(type='text/javascript').
			var choice = "-1";

			function pickOption(d){
				choice = $(d).attr("choice");
				$(".picked").css("background-color","#e1e1e8");
				$(d).find(".picked").css("background-color","green");
			}

			function submitForGift(){
				if(choice != "-1"){
				if($("#giftemail").val()=="")
					alert("please enter your email");
				else{
				var source = getUrlParameter('s');	

				var GiftEmail = Parse.Object.extend("GiftEmail");
				var giftEmail = new GiftEmail();
				giftEmail.save({email: $("#giftemail").val(),choice:choice, source:source}).then(function(object) {
				alert("Thanks for participating! You will get an email confirmation soon. Please follow the instruction below to get your rewards.");
				});
			}}
			else
				alert("Please select a reward option")
			}

			document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?"https://cdnssl.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js":"http://cdn.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js")+"'%20type='text/javascript'%3E%3C/script%3E"));





















