extends imagitas_layout

block content
	.container
		.header
			ul.nav.nav-pills.pull-right
				li
					a(href="/moving.html") Deals
				li.active
					a(href="/moving.html") Gifts
				li
					a(href="/movers/about") About
			h3.text-muted Movers Savings


		.jumbotron(style="padding-top:5px;padding-bottom:10px")
			h2 Take pictures of your coupons and we will send you a gift card
			p Show us how you save money - get a gift card to save even more!
			ul(style="font-size:18px")
				li Take a picture of the coupon and product you are buying (see our example below)
				li Send the picture to <b>movers.savings@gmail.com</b>
				li Get gift cards to help you save even more!

			

		.row.text-center
			img(src="/images/research/sample.jpeg")
		.bs-callout.bs-callout-info
			b Click below to tell us which way you prefer to recieve your gift card and start saving right now

		.row.bs-docs-section
			.col-lg-6
				.options#option1(onclick="pickOption(this)", choice = "1")
					h2 Send us 1 picture, get $1 
					h2 (maximum 5)
					p Every picture that you submit will earn you $1. You can earn up to $5.
					.picked
						img(src="/images/research/check.png")
			.col-lg-6
				.options(onclick="pickOption(this)",choice = "2")
					h2 Send us 1 picture a day, get $10
					p Send us one picture a day. Send us 5 pictures in total to receive $10.
					.picked
						img(src="/images/research/check.png")
		.row
			.input-group
				input.form-control#giftemail(type="email",placeholder="enter your email to participate")
				span.input-group-btn
					button.btn.btn-success(type="button", onclick="submitForGift()") I want the gift

	script(type='text/javascript').
			var choice = "-1";

			function pickOption(d){
				choice = $(d).attr("choice");
				alert(choice);
				$(".picked").css("background-color","#e1e1e8");
				$(d).find(".picked").css("background-color","green");
			}

			function submitForGift(){
				if(choice != "-1"){
				if($("#giftemail").val()=="")
					alert("please enter your email");
				else{	
				var GiftEmail = Parse.Object.extend("GiftEmail");
				var giftEmail = new GiftEmail();
				giftEmail.save({email: $("#giftemail").val(),choice:choice}).then(function(object) {
				alert("Thanks for participating!");
				});
			}}
			else
				alert("Please select one option")
			}





















