extends layout2

block SideBar
	li
		a(href="#first-time", style="cursor:pointer") A SXSW EXPERIENCE
	li
		a(href="#highlights", style="cursor:pointer") HIGHLIGHTS
		ul.sideList.nav.nav-sidebar
			li
				a(href="#wearabletech" , style="cursor:pointer") Wearable Technology
			li
				a(href="#privacy" , style="cursor:pointer") Privacy Awareness
	li
		a(href="#newideas" , style="cursor:pointer") WHAT'S NEW
		ul.sideList.nav.nav-sidebar
			li
				a(href="#socialtech" , style="cursor:pointer") Social Technology
			li
				a(href="#bigdata" , style="cursor:pointer") Enterprise and Big Data <span style="color:red"> (new)</span>
			li
				a(href="#entertainmenttech" , style="cursor:pointer") Entertainment and Content Technology 
			li
				a(href="#healthtech" , style="cursor:pointer") Health Technology
	li
		

block RightBar
	h4 What people talk about SXSW 2014
	a.twitter-timeline(data-dnt="true", href="https://twitter.com/search?q=%23sxsw+interactive",data-widget-id="446021616841936896") Tweets about "#sxsw interactive"
	script(type='text/javascript').
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");



	


block MainBody


	a#first-time.anchorlink
		h2.anchor.page-header A SXSW EXPERIENCE
	p Quite a few companies we love broke out in SXSW, then they became mainstream. It set the stage for Twitter in 2007, before when it was practically unknown. Foursquare spread insanely after launching a conference in SXSW at 2009. People come to Austin in March every year for new ideas and perspectives, and people are expecting the next big thing to born here every year.  SXSW is certainly more than a technology festival and I cannot comment on the depth of this show because I am not an expert in every category but the width I experienced there was amazing. It’s not just about apps, websites, and new products here. You got people coming from all seemingly disparate industries to talk about technology here. SXSW is the place where ideas and technology are being showcased, discussed and awarded, as well as convergence and connections being encouraged and established.
	P As a first-time participant, I was already overwhelmed without being there when I was checking the schedule one week before. I had to give up some topics because there was a lot of overlapping. I am sharing some of the impression and learning here and try to pull whatever resources are relevant together.

	a#highlights.anchorlink
		h2.anchor.page-header HIGHLIGHTS
	
	a#wearabletech.anchorlink
		h3.anchor.text-primary Wearable Technology
	p People walking around Austin with Google Glasses were so commonplace that nobody bothers to look twice. 
	p Wearable technology is not yet mainstream, but it is certainly hitting the market soon, and they are already front and center in SXSW this year. A lot of wearable things become smart enough that we label them high tech products.  A large variety of wearable tech products showed up in different categories like gaming, health care, self-monitoring, sports gadgets, payment startups, etc.

	h4 Nymi
	p A wristband that lets you use your unique cardiac rhythm to authenticate your identity, allowing you to wirelessly take control of your computer, your smartphone, your car and so much more.
	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/jUO7Qnmc8vE",frameborder="0" style="width: 500px; height:300px")

	h4 Skully Helmets
	p  A big winner in this year Startup Pitch Event was Skylly Helmets, an augmented-reality motorcycle helmet. The helmet has a 180-degree rear-view camera that projects images to a headset display so the driver can see the road in every direction. The company's CEO, Marcus Weller, describes his product as "like Google Glass, except it can save your life." The projecting mechanism makes more data more consumable for motorcyclists  
	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/jpeGOqFIcOc",frameborder="0" style="width: 500px; height:300px")

	h4 Pauline van Dongen
	p It is a fashion designer working closerly with companies in the field of science and innovation. She aims to merge fashion and technology. Her project Wearable Solar is an example of wearable technology integrating solar cells into garments.
	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/XqfMuMxQlXo",frameborder="0" style="width: 500px; height:300px")

	a#privacy.anchorlink
		h3.anchor.text-primary Privacy Awareness
	p One of the most well attended sessions at SXSW this year is ‘A virtual conversation with Edward Snowden’.  We can interpret that was due to people flushing in to see the ‘cyber celebrity’ or people really show concern on internet privacy and security and start to rethink what they should do as individual and as tech community. Snowden showed up in Google Hangouts via 7 proxies from Russia. Snowden says he chose to speak at SXSW to get to its techie audience, because “they’re the folks who really fix things and who can enforce our rights through technological standards”. 
	p The conversation session also discussed what are roles of large company, tech community and individual in the campaign of promoting cyber security and privacy. Large company should take a lead to turn on privacy and security setting, and it is the most effective way now.  Startups are encouraged to build in privacy and security features, which are expected to be more and more favorable for consumers.

	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/UIhS9aB-qgU",frameborder="0" style="width: 500px; height:300px")

	a#newideas.anchorlink
		h2.anchor.page-header WHAT'S NEW
	p Walking around Austin Convention Center was fun. I wish not to miss any interesting thing but it is really hard. The following list is a collection of companies that catch a lot of attention either on trade show or startup accelerator.
	

	a#socialtech.anchorlink
		h3.anchor Social Technology
	p A lot of speakers mentioned why SnapChat, which is a messaging application that its message only available for a short amount of time after being sent, is a new type of marketing tool. It’s an excellent example of designing for attention, which is scarce resource of consumers’.  The winner of social technology this year went to an application called Samba. 
	h4 Samba
	p Samba is video messaging with reaction shots. Recreating the warmth of face-to-face interaction, it infuses digital video communication with genuine, authentic response.
	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/Z6TbaVmHLNw",frameborder="0" style="width: 500px; height:300px")
	
	
	h4 MobiSocial
	p It's a Stanford-based startup that's challenging the social networking status quo. How? A statement found frome their website: 
	blockquote By liberating social networking market from its current constraints, and letting consumers keep their own data. we believe that the user should be the customer, not the product. We promise to never monetize or sell your data, and instead encourage you to store your own data to protect your privacy. 

	a#bigdata.anchorlink
		h3.anchor Enterprise and Big Data Technology
	p Shelfbucks allows Shoppers within physical stores to request real-time incentives from retaillers and brands. Targeted offers are delivered to a shopper's mobile phone when they tap their phone on one of several Shelfbucks's beacons located on retail shelves.
	.flex-video.widescreen.bs-docs-section(style="")
		iframe(allowfullscreen="", src="//www.youtube.com/embed/agYt4f8iFqY",frameborder="0" style="width: 500px; height:300px")
		
	h3 Health Technology
	p to be added

	h3 Entertainment and Content Technology
	p to be added

	h3 Health Technology
	p to be added

	p
		span#embedded-like
		span#embedded-follow.pull-right
		
	#embedded-feed(style="height:300px")

