extends imagitas_layout

block content
	.container
		.header
			ul.nav.nav-pills.pull-right
				li
					a(href="/movers/remind") Back to coupons


			img(src="http://www.mymove.com/content/dam/mymove/Logos/logo-mymove.png")
			br
			br

		.jumbotron(style="padding-top:5px;padding-bottom:10px")
			h2 THanks for visiting, come back later for new coupons!
			
			



		


	script(type='text/javascript').

			document.write(unescape("%3Cscript%20src='"+(document.location.protocol=='https:'?"https://cdnssl.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js":"http://cdn.clicktale.net/www07/ptc/7b940bc0-abd8-454b-ac1c-9fb607f69255.js")+"'%20type='text/javascript'%3E%3C/script%3E"));





















