body {
  display:none;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee !important;
  overflow: hidden; /* Prevent scroll on narrow devices */
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

.container a:hover{
 text-decoration: none;
}

.navbar-inverse{
	background-color:rgba(2,2,2,0.9) !important;

}

.container {
	padding-top:25px;
	width:100%;
}

.multi-columns-row .col-xs-6 {
	margin-bottom: 5px;
}

.caption h6{
	color:gray;
}

.saveButton{
	background-color: #35B865;
	color:white;
	text-align: center;
	padding:5px;

}

.coupons .col-xs-6{
	padding-left: 7px;
	padding-right:7px;
}

.couponCodes {
	text-align:center;
	border:1px solid #eee;
	padding:10px;
	margin:15px;
	background-color: #ecf5f7;
	font-size:20px;
	font-weight:bold;
	color:gray;
}

.brandPage{
	background-color: #eee !important;
}

/*
 * coupon list
 * --------------------------------------------------
 */

.thumbnail.couponThumbnail{
	margin-bottom: 10px;
}

#brandPic{
	height:60px;
}

.couponDes{
	font-size: 14px;
}

#expireDate {
	color:red;
}

.thumbnail > #expireDate {
	margin-left:15px;
	padding-top:5px;
	padding-bottom: 5px;
	
}

.col-xs-12 > a{
	color:#ddd;
}

.col-xs-4 > .thumbnail{
	border: 0px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

