body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container a:hover{
 text-decoration: none;
}

.navbar-inverse{
	background-color:rgba(2,2,2,0.9) !important;

}

.container {
	margin-top:60px;
	width:100%;
}

.multi-columns-row .col-xs-6 {
	margin-bottom: 5px;
}

.caption h6{
	color:gray;
}

.saveButton{
	background-color: #35B865;
	color:white;
	text-align: center;
	padding:5px;

}

.multi-columns-row .col-xs-6{
	padding-left: 7px;
	padding-right:7px;
}



