extends mymovemobile_layout


block content
	.navmenu.navmenu-default.navmenu-fixed-left.in
		a.navmenu-brand(href="#") Menu
		ul.nav.navmenu-nav
			li.active 
				a Today's Deals
			li
				a#myCouponLink(href="./mycoupons") Saved Deals
					span.badge.pull-right#savedCouponCount 0

	.canvas.canvas-slide
		.nav.navbar-inverse.navbar-fixed-top.canvas-slide(role="navigation")
			button.navbar-toggle(type="button", data-toggle="offcanvas", data-recalc="false", data-target=".navmenu",data-canvas=".canvas")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//.container-fluid
				//.navbar-header
					//a.navbar-brand.pull-right#myCouponLink(href="./mycoupons") Saved
		.updateDiv last update pull to load latest coupons
		.container.coupons.multi-columns-row

				- if(couponData.length>=0)
					- for (var i = 0; i < couponData.length; ++i)
							.col-xs-6.col-sm-4.col-md-3.col-lg-3
								.thumbnail(onclick = "location.href='./coupondetail'", isSaved = "unSaved")
									img.img-responsive(src=couponData[i].brandPic)
									.caption
										h4 #{couponData[i].couponDes}
									.saveButton(id=couponData[i].objectId) save
									if(couponData[i].isNew)
										.ribbon-wrapper-green
											.ribbon-green New



	script(type='text/javascript').


		function checkCoupons(){
			if(userObjID){

				//update my coupon link
				$("#myCouponLink").attr("href","./mycoupons?userObjID="+userObjID);
				//alert(userObjID);
				//check saved coupon
				$(".saveButton").each(function(){
					var thisSaveButton = this;

					
					//- //check if is seen
					//- if(!sessionStorage.getItem("hasSeen_"+$(this).attr("id")))
					//- 	flagNew($(this).parent());


					var User = Parse.Object.extend("User");
						var query = new Parse.Query(User);
						query.get(userObjID, {
							success: function(theCurrentUser) {
							// The object was retrieved successfully.
							//console.log($(this).attr("id"));
							var mySavedCoupons = theCurrentUser.get("savedCoupons");
							if(mySavedCoupons.length>=0)
								$("#savedCouponCount").text(mySavedCoupons.length);

							if(mySavedCoupons.indexOf($(thisSaveButton).attr("id"))>=0){
								$(thisSaveButton).css('background-color','#ddd').text('saved');
								$(thisSaveButton).off('click');
								$(thisSaveButton).parent().attr('isSaved','saved');
							}
							},
							error: function(object, error) {
							// The object was not retrieved successfully.
							// error is a Parse.Error with an error code and description.
							console.log("failed retrieving");
							}
						});

					});
			}
		}
		

	script(type='text/javascript').
		$(".thumbnail").click(function(e){

			//marked saved coupons
			sessionStorage.setItem("is_saved", $(this).attr("isSaved"));

			var allCoupon = !{JSON.stringify(couponData)};
			//save all coupon data in session
			var thisCouponId =  $(this).find('.saveButton').attr("id");
			//console.log(JSON.stringify(allCoupon));
			
			var searchResult = $.grep(allCoupon, function(e){ console.log(e.objectId+" : "+thisCouponId); return e.objectId == thisCouponId; });
			var currentCoupon;

			if (searchResult.length == 0) {
			// not found
				//alert("not found");
			} else if (searchResult.length == 1) {
			// access the foo property using result[0].foo
				//alert("1 found");
				console.log("found: "+searchResult[0]);
				currentCoupon = searchResult[0];
				sessionStorage.setItem("current_coupon", JSON.stringify(currentCoupon));
			} else {
			// multiple items found
				//alert("more found: "+JSON.stringify(searchResult));

			}
			});

		$(".saveButton").click(function(e){

			mixpanel.track("save coupon on main page");
			e.stopPropagation(); 
			var thisButton = this;
			
				trackSaveButton($(this).attr("id"));
				var User = Parse.Object.extend("User");
				var query = new Parse.Query(User);
				query.get(userObjID, {
					success: function(theCurrentUser) {
					// The object was retrieved successfully.
						var savedCoupons = theCurrentUser.get("savedCoupons");

						if(savedCoupons)
							savedCoupons.push($(thisButton).attr("id"));
						else
							savedCoupons = [$(thisButton).attr("id")];	

						theCurrentUser.set("savedCoupons",savedCoupons);

						theCurrentUser.save(null,{
							success:function(user){
								$(thisButton).css('background-color','#ddd').text('saved');
								$(thisButton).off('click');
								$("#savedCouponCount").text(savedCoupons.length);
								},
							error: function(user,error){
								alert(JSON.strinhgify(error));
							}
							});
					},
					error: function(object, error) {
					// The object was not retrieved successfully.
					// error is a Parse.Error with an error code and description.
					alert("download the MyMove app to save coupons");
					}
				});


			});

		//update time
		$(".updateDiv").text("last update on "+ (new Date()).toLocaleDateString()+",  "+(new Date()).toLocaleTimeString());

		function trackSaveButton(couponId){
			var dimensions = {
				userID: userObjID,
				couponSaved: couponId
			};

			// Send the dimensions to Parse along with the 'search' event
			Parse.Analytics.track('saveCouopn', dimensions);
		}




















