extends mymovemobile_layout

block content
	.nav.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand.pull-right My Coupons

	.container
		.row.multi-columns-row
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				a.thumbnail
					img.img-responsive(src="http://www.griff.com/homedepot.png")
					.caption
						h4 $5 Off $50+ Sitewide
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				a.thumbnail
					img.img-responsive(src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/300px-Best_Buy_Logo.svg.png")
					.caption
						h4 20% Off 1 Small Appliance In-Store & Online
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				a.thumbnail
					img.img-responsive(src="https://www.checkpoints.com/img/stores/macys.png")
					.caption
						h4 Up To 75% Off Sale And Clearance Items
			.col-xs-6.col-sm-4.col-md-3.col-lg-3
				a.thumbnail
					img.img-responsive(src="http://cdn2.hubspot.net/hub/231191/file-23747466-png/wayfair.png?t=1363201553000")
					.caption
						h4 Up To 70% Off Father's Day Finds 



















