extends mymovemobile_layout

block content
	div(style="height:50px; clear:both")
	.nav.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand.pull-left(href="./brands2") Back

	.container
		.row(style="border:1px solid #ddd; margin:1px 0 4px 0 ; border-radius:4px;background-color:white", id="locationSwitcher")
			.col-xs-7
				h4(style="font-size:13px;") Remind me near <span id="reminderName"></span>
			.col-xs-5
				.onoffswitch(style="margin-top:8px;")
					input.onoffswitch-checkbox(type="checkbox" name="onoffswitch" id="myonoffswitch" disabled )
					label.onoffswitch-label(for="myonoffswitch")
						span.onoffswitch-inner
						span.onoffswitch-switch


		.row
			.col-xs-12
				.thumbnail
					img.detailCouponImage.img-responsive(src="http://cdn2.hubspot.net/hub/231191/file-23747466-png/wayfair.png?t=1363201553000")
					.caption
						h4 Up To 70% Off Father's Day Finds 
					#expireDate  
					.couponCodes No code needed
					.callout.bottom#howToUse Paste this code at checkout when you are done shopping.

	script(type='text/javascript').

		function checkBack(){
			sendToApp("checkismonitoring", currentCoupon.brandName);
		}

		mixpanel.track("check coupon detail from main page");
		var currentCoupon = JSON.parse(sessionStorage.getItem("current_coupon"));
		if(!currentCoupon.isInstoreCoupon)
			$("#locationSwitcher").hide();
		$("#reminderName").text(currentCoupon.brandName);

		//alert(currentCoupon);
		$(".thumbnail").each(function(){
				$(this).find("img").attr("src",currentCoupon.brandPic);
				$(this).find("h4").text(currentCoupon.couponDes);
				$(this).find(".couponCodes").text("Code: "+currentCoupon.couponCode);
				//console.log("currentCoupon.openCouponLink: "+currentCoupon.openCouponLink);
				if(currentCoupon.openCouponLink){
					$(this).find(".couponCodes").empty();
					$(this).find(".couponCodes").append("<button type='button' url='"+currentCoupon.openCouponLink+"' class='btn btn-success openCouponLink'>Open Coupon</button>");
					//- if(currentCoupon.couponCode){
					//- 	$(this).find(".couponCodes").append("<div><div>or<div style='border:1px solid'>use code online: "+currentCoupon.couponCode+"<div>");
					//- }

				}
				$(this).find("#howToUse").text(currentCoupon.howTo);
				if(sessionStorage.getItem("is_saved")=="unSaved")
					$(this).append("<div class='saveButton' id='"+currentCoupon.objectId+"''>Save</div>");
				if(currentCoupon.expirationAt){
					//console.log((new Date(currentCoupon.expirationAt.iso)).toLocaleDateString());
					var theDate = (new Date(currentCoupon.expirationAt.iso)).toLocaleDateString();
					$(this).find("#expireDate").text("Expiring at: "+theDate);
				}
				if(currentCoupon.websiteURL){
					$(this).append("<div class='goShoppingButton' url='"+currentCoupon.websiteURL+"'>Go shop online</div>");					
				}
				if(currentCoupon.isInstoreCoupon){
					$(this).append("<div class='findNearBy' storeName='"+currentCoupon.brandName+"'>Find nearby stores</div>");					
				}

			});
		
		$(".goShoppingButton").click(function(e){
			//alert($(this).attr("url"));
			mixpanel.track("go shopping online");
			sendToApp("openWebView", $(this).attr("url"));
			});

		$(".findNearBy").click(function(e){
			//alert($(this).attr("url"));
			mixpanel.track("find nearby stores");
			sendToApp("openNearbyMap", $(this).attr("storeName"));
			});

		$(".openCouponLink").click(function(e){
			//alert($(this).attr("url"));
			mixpanel.track("open coupon link");
			sendToApp("openWebView", $(this).attr("url"));
			//sendToApp("checkismonitoring", currentCoupon.brandName);
			});


		$(".saveButton").click(function(e){
			
			if(currentCoupon.openCouponLink)
				mixpanel.track("save in store coupon on detail page");
			else	
				mixpanel.track("save coupon on detail page");

			var thisButton = this;
			
				trackSaveButton($(thisButton).attr("id"));
				var User = Parse.Object.extend("User");
				var query = new Parse.Query(User);
				query.get(sessionStorage.getItem("userID"), {
					success: function(theCurrentUser) {
					// The object was retrieved successfully.
						var savedCoupons = theCurrentUser.get("savedCoupons");

						if(savedCoupons)
							savedCoupons.push($(thisButton).attr("id"));
						else
							savedCoupons = [$(thisButton).attr("id")];	

						theCurrentUser.set("savedCoupons",savedCoupons);

						theCurrentUser.save(null,{
							success:function(user){
								$(thisButton).css('background-color','#ddd').text('saved');
								$(thisButton).off('click');
								},
							error: function(user,error){
								alert(JSON.strinhgify(error));
							}
							});
					},
					error: function(object, error) {
					// The object was not retrieved successfully.
					// error is a Parse.Error with an error code and description.
					alert("download the MyMove app to save coupons");
					}
				});


			});

			function trackSaveButton(couponId){
				var dimensions = {
					userID: sessionStorage.getItem("userID"),
					couponSaved: couponId
				};

				// Send the dimensions to Parse along with the 'search' event
				Parse.Analytics.track('saveCouopn', dimensions);
			}

			$("#myonoffswitch").click(function(e){

				if(this.checked){
					mixpanel.track("turn on location reminder");
					sendToApp("turnonlocationreminder", currentCoupon.brandName);
					//console.log(turing on reminder);
					trackReminder("on");
					if(sessionStorage.getItem("is_saved")=="unSaved"){
						$( ".saveButton" ).trigger( "click" );
						//alert("triggered");
					}
				}else{
					mixpanel.track("turn off location reminder");
					sendToApp("turnofflocationreminder", currentCoupon.brandName);
					trackReminder("off");
				}
			});

			$(".onoffswitch").click(function(e){
				if($(this).find("#myonoffswitch").attr("disabled")){
					sendToApp("enableswitch", currentCoupon.brandName);
					//alert("going to enable");
				}
				//if($(this).)
			});
			
			

			function configureSwitch(isOn){
				if(isOn==1){
					$("#myonoffswitch").prop('checked', true);
				}else{
					$("#myonoffswitch").prop('checked', false);
				}
			}

			function enableSwitch(){
				$("#myonoffswitch").prop('disabled', false);

			}

			function turnonafterpermission(){
				$("#myonoffswitch").prop('disabled', false);
				$("#myonoffswitch").prop('checked', true);
				mixpanel.track("turn on location reminder");
				sendToApp("turnonlocationreminder", currentCoupon.brandName);
				trackReminder("on");
				if(sessionStorage.getItem("is_saved")=="unSaved"){
					$( ".saveButton" ).trigger( "click" );
					//alert("triggered");
				}
			}

			function trackReminder(action){
				//console.log(setting reminder);
				var ReminderSetting = Parse.Object.extend("ReminderSetting");
				var reminderSetting = new ReminderSetting();

				reminderSetting.set("brand", currentCoupon.brandName);
				reminderSetting.set("user", sessionStorage.getItem("userID"));
				reminderSetting.set("action", action);

				reminderSetting.save(null, {
				success: function(reminderSetting) {
				
				},
				error: function(reminderSetting, error) {

				}
				});
			}









