extends mymovemobile_layout

block content
	div(style="height:50px; clear:both")
	.nav.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand.pull-left(onclick="window.history.back()") Back


	.container
		.row
			- if(thisUser.savedCoupons)
				- for (var i = 0; i < thisUser.savedCoupons.length; ++i)
					.col-xs-12
						a.thumbnail(id=thisUser.savedCoupons[i])
							.row 
								.col-xs-3
									img.img-responsive
								.col-xs-9
									.caption
										h4 $5 Off $50+ Sitewide
			- else
				p(style="text-align:center") No saved coupons
								

	script(type='text/javascript').
		$(".thumbnail").each(function(){
			var thisCoupon = this;
			var couponID = $(this).attr("id");
			var Coupons = Parse.Object.extend("Coupons");
						var query = new Parse.Query(Coupons);
						query.get(couponID, {
							success: function(coupon) {
							// The object was retrieved successfully.

							$(thisCoupon).attr("href","./savedcoupondetail");
							$(thisCoupon).click(function(e){
								sessionStorage.setItem("current_coupon", JSON.stringify(coupon));	
								});
							
							$(thisCoupon).find("img").attr("src",coupon.get("brandPic"));
							$(thisCoupon).find("h4").text(coupon.get("couponDes"));
							},
							error: function(object, error) {
							// The object was not retrieved successfully.
							// error is a Parse.Error with an error code and description.
							console.log("failed retrieving coupon");
							}
						});
			
			});
















