extends mymovemobile_layout

block content
	div(style="height:50px; clear:both")
	.nav.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand.pull-left(onclick="window.history.back()") Back

	.container
		.row
			.col-xs-12
				.thumbnail
					img.img-responsive(src="http://cdn2.hubspot.net/hub/231191/file-23747466-png/wayfair.png?t=1363201553000")
					.caption
						h4 Up To 70% Off Father's Day Finds 
					.couponCodes No code needed
					
			

	script(type='text/javascript').
		var currentCoupon = JSON.parse(sessionStorage.getItem("current_coupon"));
		//alert(currentCoupon);
		$(".thumbnail").each(function(){
				$(this).find("img").attr("src",currentCoupon.brandPic);
				$(this).find("h4").text(currentCoupon.couponDes);
				$(this).find(".couponCodes").text(currentCoupon.couponCode);
			});
		













