extends mymovemobile_layout

block content
	div(style="height:50px; clear:both")
	.nav.navbar-inverse.navbar-fixed-top(role="navigation")
		.container-fluid
			.navbar-header
				a.navbar-brand.pull-left(onclick="window.history.back()") Back

	.container
		.row
			.col-xs-12
				.thumbnail
					img.img-responsive(src="http://cdn2.hubspot.net/hub/231191/file-23747466-png/wayfair.png?t=1363201553000")
					.caption
						h4 Up To 70% Off Father's Day Finds 
					#expireDate
					.couponCodes No code needed
					.callout.bottom#howToUse Paste this code at checkout when you are done shopping.
			

	script(type='text/javascript').
		mixpanel.track("check coupon detail from savedcoupon page");
		var currentCoupon = JSON.parse(sessionStorage.getItem("current_coupon"));
		//console.log(currentCoupon);
		$(".thumbnail").each(function(){
				$(this).find("img").attr("src",currentCoupon.brandPic);
				$(this).find("h4").text(currentCoupon.couponDes);
				$(this).find(".couponCodes").text("Code: "+currentCoupon.couponCode);
				$(this).find("#howToUse").text(currentCoupon.howTo);
				if(currentCoupon.expirationAt){
					//console.log((new Date(currentCoupon.expirationAt.iso)).toLocaleDateString());
					var theDate = (new Date(currentCoupon.expirationAt.iso)).toLocaleDateString();
					$(this).find("#expireDate").text("Expiring at: "+theDate);
				}
				if(currentCoupon.websiteURL){
					$(this).append("<div class='goShoppingButton' url='"+currentCoupon.websiteURL+"'>Go shop online</div>");					
				}
			});


		$(".goShoppingButton").click(function(e){
			//alert($(this).attr("url"));
			mixpanel.track("go shopping online")
			sendToApp("openWebView", $(this).attr("url"));
			});
		













